RIOT_API_KEY=RGAPI_your_key_here
PORT=5173
DEFAULT_LOL_PLATFORM=na1
DEFAULT_ROUTING=americas
RSO_CLIENT_ID=
RSO_CLIENT_SECRET=
RSO_REDIRECT_URI=http://127.0.0.1:5173/auth/riot/callback
SESSION_SECRET=change_me_to_a_long_random_value
